.expr {
  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: move;
}

.canvas .expr {
  position: absolute;
}

.expr.item {
  position: relative;
  cursor: default;
  left: auto !important;
  top: auto !important;
  margin: 8px 0;
}

.expr.selected {
  border: 2px solid blue;
  background: #eef;
}

.method {
  font-size: 12px;
  color: gray;
}
